<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="profiles$ | async as profiles">
    <button mat-button [matMenuTriggerFor]="menu">
      Profiles
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addProfile()">Add new profile</button>
      <mat-divider></mat-divider>
      <button mat-menu-item *ngFor="let profile of profiles" [routerLink]="'/profile/' + profile.id">
        {{ profile.name }}
      </button>
    </mat-menu>
  </div>

  <span class="spacer"></span>

  <app-theme-switcher [options]="options$ | async" (themeChange)="themeChangeHandler($event)"></app-theme-switcher>

  <button mat-button (click)="goToGitHub()">
    <img class="github-icon" src="/assets/img/homepage/github-circle-white-transparent.svg" /> GitHub
  </button>
</mat-toolbar>
