<div class="section" *ngIf="profile">
  <div class="container is-fluid">
    <h1 class="mat-display-1">{{ profile.name }}</h1>

    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="mat-title">Configuration</h1>
        <!-- General -->
        <mat-card class="flat-card">
          <mat-card-header>
            <mat-card-title>General</mat-card-title>
            <mat-card-subtitle>
              Setup for the base profile. A profile is a independent set of configurations or rules to act over a
              specific directory and its children.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Display name</mat-label>
                <input matInput [(ngModel)]="profile.name" autocomplete="off" />
                <mat-hint>Display name of the profile.</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                <mat-label>Source directory</mat-label>
                <input matInput [(ngModel)]="profile.monitorDirectory" autocomplete="off" />
                <mat-hint>Source directory to clean and copy media files from.</mat-hint>
              </mat-form-field>
            </p>
          </mat-card-content>
        </mat-card>

        <!-- Media Tasks -->
        <mat-card class="flat-card">
          <mat-card-header>
            <mat-card-title>Media tasks</mat-card-title>
            <mat-card-subtitle>
              Handle moving of media files from the source directory to another. Sometimes when have tools which will
              auto unrar to a directory, but fails to handle files coming in which are already in a un-rared state.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-slide-toggle
                [(ngModel)]="profile.copyMediaFiles"
                [checked]="profile.copyMediaFiles"
                labelPosition="after"
                >Copy media files
              </mat-slide-toggle>
            </p>

            <p *ngIf="profile.copyMediaFiles">
              <mat-form-field appearance="outline">
                <mat-label>Target directory</mat-label>
                <input matInput [(ngModel)]="profile.copyToDirectory" autocomplete="off" />
                <mat-hint>Copy all media files to this directory.</mat-hint>
              </mat-form-field>
            </p>
          </mat-card-content>
        </mat-card>

        <!-- Delete Tasks -->
        <mat-card class="flat-card">
          <mat-card-header>
            <mat-card-title>Delete tasks</mat-card-title>
            <mat-card-subtitle>
              Help keep your directory clean of unwanted files and folders. Delete files which are smaller than a cutoff
              size, and remove empty directories.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-slide-toggle
                [(ngModel)]="profile.deleteEmptyDirectories"
                [checked]="profile.deleteEmptyDirectories"
                labelPosition="after"
                >Delete empty directories
              </mat-slide-toggle>
            </p>

            <p>
              <mat-slide-toggle
                [(ngModel)]="profile.deleteSmallFiles"
                [checked]="profile.deleteSmallFiles"
                labelPosition="after"
                >Delete small files
              </mat-slide-toggle>
            </p>

            <p *ngIf="profile.deleteSmallFiles">
              <mat-form-field appearance="outline">
                <mat-label>Size in KB to delete</mat-label>
                <input matInput [(ngModel)]="profile.deleteThreshold" autocomplete="off" />
                <mat-hint>Files less than this size will be deleted</mat-hint>
              </mat-form-field>
            </p>
          </mat-card-content>
        </mat-card>

        <div class="has-text-centered">
          <button mat-raised-button color="primary" (click)="saveProfile()">Save profile</button>
        </div>
      </div>

      <div class="column is-12">
        <mat-divider></mat-divider>
      </div>

      <div class="column is-12">
        <h1 class="mat-title">Events</h1>

        <table mat-table [dataSource]="dataSource" matSort class="flat-card">
          <ng-container matColumnDef="message">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Message</th>
            <td class="is-editable" mat-cell *matCellDef="let element">
              {{ element.message }}
            </td>
          </ng-container>

          <ng-container matColumnDef="object">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Object</th>
            <td class="is-editable" mat-cell *matCellDef="let element">
              {{ element.object?.name }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
