.mat-app-background {
  min-height: 100% !important;
}

.mat-dialog-content {
  max-height: 100vh !important;
  overflow: visible !important;
}

.mat-dialog-actions {
  padding: 20px 0 !important;
  float: right !important;
}

.mat-form-field {
  width: 100% !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-form-field-wrapper {
  margin-bottom: 15px  !important;
}
